init.license=MIT
init.author.name="Lorenzo Franceschini <l.franceschini@gmail.com>"
init.author.email="<l.franceschini@gmail.com.com>"
init.author.url="http://github.com/Law78"
save.exact=true
color=true  